

<div class="container-fluid text-center m-3">
    <h2>Recipe Detail</h2>
</div>

<section>
    <div class="row text-center justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-6 " *ngIf="recipe">
            <div class="card mb-3">
                <img class="img-fluid img-thumbnail" src="{{recipe.image}}" alt="">
                <div class="card-body">
                    <h2>{{recipe.label | uppercase}}</h2>
                    <p>Ingredients: {{ recipe.ingredientLines }}</p>
                    <form (ngSubmit)="onSubmit(addToFavouriteList)" #addToFavouriteList="ngForm">
                        <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-suit-heart-fill"></i>Add to favourites</button>
                        <div class="container-fluid border-bottom p-1"> 
                            <span *ngFor="let list of ( lists | async )">
                                <input class="m-2" type="checkbox" id="{{ list.name }}" name="{{ list.id }}" ngModel>
                                <a [routerLink]="['/favourite-list-items', list.id]">{{ list.name }}</a>
                                
                            </span>
                        </div>
                    </form>    
                </div>

            </div>
        </div>
    </div>
</section>

                   