<!-- Navbar -->   
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">u07-Recipe-App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="home" routerLinkActive="active" class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/recipe-search" routerLinkActive="active" class="nav-link active" aria-current="page" href="#">Search Receipes</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/favourite-recipes" routerLinkActive="active" class="nav-link active" aria-current="page" href="#">Favourite Recipes</a>
                </li>
                <li class="nav-item">
                    <a routerLink="" routerLinkActive="active" class="nav-link active" aria-current="page" href="#">Sign In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Ends Navbar -->
    
<router-outlet></router-outlet>