<div class="form-group has-search">
    <form (ngSubmit)="onSubmit(favouriteForm)" #favouriteForm="ngForm">
        <h4 class="text-center mb-4">Add recipe list</h4>
        <span class="fa fa-search form-control-feedback"></span>
        <input class="form-control mb-3" name="name" type="text" [placeholder]="" ngModel>
        <div>
            <button class="btn btn-outline-secondary" type="submit">Add</button>
        </div>  
    </form>  
</div>

<div>
    <ul >
        <li *ngFor="let result of ( results | async )">
            <a [routerLink]="['/favourite-list-items', result.id]">{{ result.name }}</a>
            <span>{{result.id}}</span>
            <button class="btn btn-outline-secondary" (click)="deleteFavouriteList(result.id)">Delete</button>
            <button class="btn btn-outline-secondary" (click)="updateFavouriteList(result.id)"><a [routerLink]="['/favourite-list', result.id]" routerLinkActive="active">Update</a></button>
        </li>
    </ul>   
</div>

<!-- <div class="col-sm-12 col-md-4 col-lg-2 p-3" >
            <div class="card"> 
                <img class="img-fluid img-thumbnail" src="{{result.recipe.image}}" alt="food image">
                <i class="bi bi-suit-heart-fill"></i>  
                <div class="card-body">
                    <h6>{{result.recipe.label}}</h6>
                    <a class="btn btn-outline-secondary" [routerLink]="['/recipe-detail', result.recipe.uri]" routerLinkActive="active">See recipe detail</a>   
                </div>
            </div>
        </div> -->

<!-- <div class="container-fluid text-center mt-5">
    <h3>Your favourite recipes!</h3>
    <button class="btn btn-outline-secondary" (click)="clearFavourites()">Clear List</button>
</div>

<div class="container-fluid">
    <div class="row text-center justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-3 p-3" *ngFor="let item of items">
            <div class="card"> 
                <img class="img-fluid img-thumbnail" src="{{ item.image }}" alt="recipe image">
                <a class="thumbnail" href="#"><i class="bi bi-suit-heart-fill"></i></a>
                <div class="card-body">
                    <h6 class="card-title">{{ item.label }}</h6>
                    <p>{{ item.ingredientLines }}</p>
                    <button class="btn btn-outline-secondary" (click)="deleteOneFavourite(item)">Delete</button>
                </div>
            </div>
        </div>
    </div>        
</div> -->
