<p>home works!</p>

<h3>Get Inspired!</h3>



<div class="card-deck">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-2 p-3" *ngFor="let result of ( results | async )?.hits">
            <div class="card"> 
                <img class="img-fluid img-thumbnail" src="{{result.recipe.image}}" alt="">
                <a class="thumbnail" href="#"><i class="bi bi-suit-heart-fill"></i></a>
                <div class="card-body">
                    <p class="card-title">{{ result.recipe.label }}</p>
                    <a class="btn btn-primary" [routerLink]="['/recipe-detail', result.recipe.uri]" routerLinkActive="active">Go to recipe detail!</a>   
                </div>
            </div>
        </div>
    </div>     
</div>


<!-- <ul>
    <li *ngFor="let result of ( results | async )?.hits">
        {{ result.recipe.label }}
        <img class="img-fluid img-thumbnail" src="{{result.recipe.image}}" alt="">
        <a [routerLink]="['/recipe', result.recipe.uri]" routerLinkActive="active">Go to recipe detail!</a>   
    </li>
</ul> -->

<!-- <router-outlet></router-outlet> -->