
<section class="mt-4">
    <div class="title text-center">
        <h3>Join the fun!</h3>
        <p class="paragraph-text">Stay up to date with our latest recepies by joining our newsletter. <br /> 
        </p>
        <div class="col-1 mx-auto">
            <button href="#" type="button" class="btn btn-outline-secondary">SUBSCRIBE</button>
        </div>
    </div>
</section>

<footer class="footer text-lg-start border-top">
    <div class="container-fluid p-4">
        <div class="row text-center">
            <div class="col-sm-12 col-md-12 col-lg-12 mb-4 mb-md-0">
                <h5 class="text-center">Welcome!</h5>
                <p>
                    Here we cook and eat healthy and simple food with natural ingredients, 
                    whole grains, good fats, fruit and vegetables.
                </p>
                <a href="#"><i class="bi bi-facebook m-2"></i></a>
                <a href="#"><i class="bi bi-instagram m-2"></i></a>
            </div>
        </div>
    </div>  
    <div class="text-center p-3">
        © 2021 Copyright Pernilla Hällgren
    </div>
</footer>
